<script>
  import sequence from './sequence.js'
  import Area from './Area.svelte'
  import Time from './Time.svelte'
  import SlideText from './SlideText.svelte'
  import Unlock from './Unlock.svelte'
  import ClickToContinue from './ClickToContinue.svelte'
  import Pause from './Pause.svelte'
  import Game from './Game.svelte'
  export let playerWidth
  export let currentTime
  export let myPlayer
  export let containerRef

  const forwardEvent = (event) => {
    const newEvent = event.touches ? new TouchEvent(event.type, event) : new MouseEvent(event.type, event)
    const player = containerRef.querySelector('.vjs-player')
    if (player) player.dispatchEvent(newEvent)
  }

  const elementTypes = {
    Area,
    Time,
    SlideText,
    Unlock,
    ClickToContinue,
    Pause,
    Game
  }

  $: activeElements = sequence.reduce((memo, item) => {
    return currentTime >= item.start && currentTime <= item.end ? [...memo, item] : memo
  }, [])
  
</script>

<div
  class="overlay"
  on:mousedown={forwardEvent}
  on:mouseup={forwardEvent}
  on:touchstart={forwardEvent}
  on:touchend={forwardEvent}
  on:mousemove={forwardEvent}
>
  {#if activeElements}
    {#each activeElements as item}
      <svelte:component this={elementTypes[item.type]} {myPlayer} {playerWidth} {item} />
    {/each}
  {/if}
</div>

<style>
  .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 216%;
    overflow: hidden;
  }
</style>
