
<script>
    import {onMount} from 'svelte'
    import {sendMetrik} from '../helpres'
    export let item = {}
    export let playerWidth
    export let myPlayer;
    
    
    $: borderRadius = item.withoutBorder ? 0 : playerWidth * 0.03
  
    $: style = `width:${item.width}%; left:${item.left}%; top: ${item.top}%; padding-top: ${item.paddingTop}%; border-radius:${borderRadius}px;`
  
    const onClick = (e) => {
      sendMetrik('ClickLinkTiktok')
      myPlayer.play()
    }
    onMount(()=>{
        myPlayer.pause();
        document.querySelector('.vjs-control-bar').style.visibility = 'hidden'
        return ()=>{
            document.querySelector('.vjs-control-bar').style.visibility = 'visible'
        }
    })
  </script>
  <div class="overlayClick" on:click={onClick}>
  </div>
  <div on:click={onClick}>
    <div class="zone shine" {style} class:whiteShadow={item.color === 'white'} />
    <div class="zone shine shine2" {style} class:whiteShadow={item.color === 'white'} />
    <div class="zone shine shine3" {style} class:whiteShadow={item.color === 'white'} />
    <div class="zone shine shine4" {style} class:whiteShadow={item.color === 'white'} />
</div>
  
  <style>
    .overlayClick{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
    .zone {
      position: absolute;
      z-index: 99;
      cursor: pointer;
    }
  
    .shine {
      position: absolute;
      transform-origin: center center;
      box-shadow: 0 0 10px 5px #00ff5a;
      animation: ripple 1.5s linear infinite;
      opacity: 0;
    }
    .shine2 {
      animation-delay: 0.5s;
    }
    .shine3 {
      animation-delay: 1s;
    }
    .shine4 {
      animation-delay: 1.5s;
    }
    @keyframes ripple {
      0% {
        transform: scale(0.9);
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        transform: scale(2);
        opacity: 0;
      }
    }
  </style>
  