<script>
  import { fade, scale } from 'svelte/transition'
  import { onMount } from 'svelte'
  import { writable } from 'svelte/store'
  import {sendMetrik} from '../helpres'
  import Checkmark from './Game/Checkmark.svelte'
  export let myPlayer
  export let playerWidth

  let wrongSelection = false
  let missingSelection = false
  let rightSelection = false
  let isVisible = true
  let containerRef;

  onMount(() => {
    if (myPlayer) {
      myPlayer.pause()
      document.querySelector('.vjs-control-bar').style.visibility = 'hidden'
    }
    return () => {
      document.querySelector('.vjs-control-bar').style.visibility = 'visible'
    }
  })
  const blocks = writable([
    { top: 31.05, left: 2.05, paddingTop: 31.405, width: 31.21, required: true },
    { top: 31.05, left: 34.05, paddingTop: 31.405, width: 31.21 },
    { top: 31.05, left: 66.36, paddingTop: 31.405, width: 31.21, required: true },

    { top: 46.05, left: 2.05, paddingTop: 31.405, width: 31.21, canSkip: true },
    { top: 46.05, left: 34.05, paddingTop: 31.405, width: 31.21 },
    { top: 46.05, left: 66.36, paddingTop: 31.405, width: 31.21, required: true },

    { top: 61.05, left: 2.05, paddingTop: 31.405, width: 31.21 },
    { top: 61.05, left: 34.05, paddingTop: 31.405, width: 31.21, canSkip: true },
    { top: 61.05, left: 66.36, paddingTop: 31.405, width: 31.21 },
  ])

  const toggle = (i) => {
    $blocks[i].selected = !$blocks[i].selected
    if($blocks[i].selected){
      if($blocks[i].required || $blocks[i].canSkip){
        sendMetrik('ClickCorrectImage')
      }
      if(!$blocks[i].required && !$blocks[i].canSkip){
        sendMetrik('ClickWrongImage')
      }
    }
    wrongSelection = false
    missingSelection = false
    rightSelection = false
  }

  const checkSelection = ()=>{
    const filtredBlocks = $blocks.filter((item) => !item.canSkip)
    wrongSelection = filtredBlocks.some((item) => !item.required && item.selected)
    missingSelection = filtredBlocks.some((item) => item.required && !item.selected)
    rightSelection = filtredBlocks.every(
      (item) => (!item.required && !item.selected) || (item.required && item.selected),
    )
  }
  const submit = () => {
    sendMetrik('ClickCaptchaVerify')
    checkSelection()
    if (rightSelection) {
      isVisible = false
      myPlayer.play();
    }
  }
  const onContainerClick = (e)=>{
      if(e.target===containerRef){
        checkSelection()
      }
    
  }
</script>

{#if isVisible}
  <div class="container" bind:this={containerRef} on:click={onContainerClick}>
    <img class="mainImage" src="./images/game.jpg" alt="game" />
  </div>
  {#each $blocks as block, i}
    <div
      on:click={() => toggle(i)}
      style={`top:${block.top}%;left:${block.left}%;padding-top:${block.paddingTop}%;width:${block.width}%`}
      class="block"
      class:selected={block.selected}
    >
      {#if block.selected}
        <div class="blockContent" transition:fade|local={{ duration: 200 }}>
          <Checkmark />
        </div>
      {/if}
    </div>
  {/each}

  <div class="submit" on:click={submit} />
  {#if wrongSelection}
    <div class="warning" style={`font-size: ${playerWidth * 0.07}px`} transition:scale|local={{ duration: 200 }}>
      Ой, кажется отмечены лишние картинки
    </div>
  {:else if missingSelection}
    <div class="warning" style={`font-size: ${playerWidth * 0.07}px`} transition:scale|local={{ duration: 200 }}>
      Ой, кажется отмечены не все Истиноксы
    </div>
  {/if}
{/if}

<style>
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
  }
  .mainImage {
    width: 100%;
    -moz-user-select: none;
  }
  .block {
    position: absolute;

    cursor: pointer;
  }
  .selected {
    background: rgba(255, 255, 255, 0.5);

    box-sizing: border-box;
  }
  .blockContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit {
    position: absolute;
    top: 77.8%;
    left: 70%;
    right: 3%;
    bottom: 18.1%;
    opacity: 0.5;
    cursor: pointer;
  }
  .warning {
    color: black;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 86%;
  }
</style>
