<script>
  import { onMount } from 'svelte'
  import { fly, fade } from 'svelte/transition'
  import { backInOut } from 'svelte/easing'
  export let playerWidth

  let isVisible = false

  onMount(() => {
    isVisible = true
  })
</script>

{#if isVisible}
  <div class="container">
    <div
      style={`font-size:${playerWidth * 0.075}px`}
      class="text"
      in:fly|local={{ x: -300, easing: backInOut, duration: 1000 }}
      out:fade|local={{ duration: 300 }}
    >
      Путешествуй по экрану Миши
    </div>
    <div
      style={`font-size:${playerWidth * 0.075}px`}
      class="text"
      in:fly|local={{ x: 300, easing: backInOut, duration: 1000 }}
      out:fade|local={{ duration: 300 }}
    >
      Открывай мигающие приложения
    </div>
  </div>
{/if}

<style>
  .text {
    color: white;
    text-align: center;
  }
  .container {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
</style>
