<script>
  import { fade } from 'svelte/transition'
  const date = new Date()
  export let playerWidth
  const hours = String(date.getHours())
  const minutes = String(date.getMinutes())
  const month = [
    'января',
    'февраля',
    'марта',
    'апреля',
    'мая',
    'июня',
    'июля',
    'августа',
    'сентября',
    'октября',
    'ноября',
    'декабря',
  ]
</script>

<div class="container" in:fade|local={{ duration: 400 }} out:fade|local={{ duration: 300 }} style={`border-radius:${playerWidth * 0.054}px`}>
  <div style={`font-size:${playerWidth * 0.22}px`} class="hedaer">
    {hours.padStart(2, '0')}:{minutes.padStart(2, '0')}
  </div>
  <div style={`font-size:${playerWidth * 0.054}px`} class="date">{date.getDate()} {month[date.getMonth()]}</div>
</div>

<style>
  .container {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    background: #36474F;
    color: white;
    width: 60%;
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
  }
</style>
