<script>
  import { onMount } from 'svelte'
  import { fade } from 'svelte/transition'
  import {sendMetrik} from '../helpres'
  export let item = {}
  export let playerWidth
  export let myPlayer

  let visible = false
  let hintVisible = false
  let autoplayTimeoutId
  let hintTimeoutId

  $: borderRadius = item.withoutBorder ? 0 : playerWidth * 0.03

  $: style = `width:${item.width}%; left:${item.left}%; top: ${item.top}%; padding-top: ${item.paddingTop}%; border-radius:${borderRadius}px;`

  const onClick = (e) => {
    sendMetrik('ClickUnlock')
    myPlayer.play()
    visible = false
    clearTimeout(autoplayTimeoutId)
    clearTimeout(hintTimeoutId)
  }
  onMount(() => {
    visible = true
    document.querySelector('.vjs-control-bar').style.visibility = 'hidden'
    myPlayer.pause()
    autoplayTimeoutId = setTimeout(onClick, 10000)
    hintTimeoutId = setTimeout(() => (hintVisible = true), 5000)
    return () => {
      document.querySelector('.vjs-control-bar').style.visibility = 'visible'
      clearTimeout(autoplayTimeoutId)
      clearTimeout(hintTimeoutId)
    }
  })
</script>

{#if visible}
<div class="overlayClick" on:click={onClick}>
</div>
  <div style={`font-size:${playerWidth * 0.055}px`} class="text" transition:fade={{ duration: 200 }} on:click={onClick}>
    {`Нажмите, чтобы\nразблокировать`}
  </div>

  {#if hintVisible}
    <div on:click={onClick}>
      <div class="zone shine" {style} class:whiteShadow={item.color === 'white'} />
      <div class="zone shine shine2" {style} class:whiteShadow={item.color === 'white'} />
      <div class="zone shine shine3" {style} class:whiteShadow={item.color === 'white'} />
      <div class="zone shine shine4" {style} class:whiteShadow={item.color === 'white'} />
    </div>
  {/if}
{/if}

<style>
  .overlayClick{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .text {
    color: white;
    text-align: center;
    bottom: 7%;
    left: 25%;
    position: absolute;

    right: 24%;
    white-space: pre-wrap;
    cursor: pointer;
  }
  .zone {
    position: absolute;
    z-index: 99;
    cursor: pointer;
  }

  .shine {
    position: absolute;
    transform-origin: center center;
    box-shadow: 0 0 10px 5px #00ff5a;
    animation: ripple 1.5s linear infinite;
    opacity: 0;
  }
  .shine2 {
    animation-delay: 0.5s;
  }
  .shine3 {
    animation-delay: 1s;
  }
  .shine4 {
    animation-delay: 1.5s;
  }
  @keyframes ripple {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
</style>
