<svelte:head>
  <link
    href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css"
    rel="stylesheet" />
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js">
  </script>
  <link rel="prefetch" href="https://az67128.gitlab.io/alisa-app/static/js/main.5574dc80.chunk.js">
  <link rel="prefetch" href="https://az67128.gitlab.io/alisa-app/static/media/bg2.dbf17bce.jpg">
</svelte:head>